---
import GamePentagon from "./GamePentagon.astro";
import GameChoose from "./GameChoose.astro";
---

<section class="game__pieces">
  <GamePentagon />
  <GameChoose />
</section>

<style>
  .game__pieces {
    position: relative;
    width: 50%;
    margin-top: 3rem;
    @media (width >= 624px) {
      width: 30%;
      margin-top: 0rem;
      margin-bottom: 3rem;
    }
    @media (width >= 1024px) {
      width: max(20%, 20rem);
    }
  }
</style>
