---
import GameInitial from "./GameInitial.astro";
---

<main class="main">
  <GameInitial />
</main>

<style>
  .main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    @media (width >= 624px) {
      padding-bottom: 0;
    }
    @media (width >= 728px) {
      justify-content: center;
    }
  }
</style>
